.group:hover .group-hover\:block {
  display: block;
}

nav ul li {
  position: relative;
}

nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: var(--color-primary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul li ul li {
  padding: 10px;
}

nav ul li ul li:hover {
  background-color: var(--color-accent);
}
